{% extends 'core/base.html' %}
{% load static %}

{% block title %}Formulário{% endblock title %}

{% block content_body %}
{% if form.errors %}
  <div id="errors-container">
    {% for field in form %}
      {% if field.errors %}
        {% include 'core/partials/error-toast.html' %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

{% include 'core/partials/loading_modal.html' %}
  <div class="container" style="max-width: 780px;">  
    <div class="container mt-5">
      {% include 'budget/partials/logo.html' %}
    </div>
    <div class="container mt-5 mb-5">
      <h2 class="mb-5">Olá! Faça uma cotação.</h2>
      <div>
        <form action="" id="get-budget-form" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row mb-4">
            <div class="col">
              <div class="mb-3 sm">
                <label for="inputFullName" class="form-label" >Nome completo</label>
                {{ form.full_name }}
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label for="inputEmail" class="form-label">E-mail</label>
                {{ form.email }}
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="mb-3">
                <label for="phone" class="form-label">WhatsApp</label>
                {{ form.whatsapp_number }}
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="mb-3">
                <label for="source-language" class="form-label">Idioma de Origem</label>
                {{ form.source_language }}
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label for="target-language" class="form-label">Idioma de Destino</label>
                {{ form.target_language }}
                {% for id, text in form.target_language.choices %}
                  <option value="{{ id }}">{{text}}</option>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <span class="form-label">Documentos</span>
              <span class="form-label" id="qtd-docs"></span>
              <label for="files" id="label-file" class="mt-2 mb-2">
                <div class="row text-center">
                  <div class="col">
                    <svg width="80" height="101" viewBox="0 0 80 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M41 49L12 51" stroke="#21325B" stroke-width="2" stroke-linecap="round"/>
                      <path d="M41 49L79 53" stroke="#21325B" stroke-width="2" stroke-linecap="round"/>
                      <path d="M79 53L71 88" stroke="#21325B" stroke-width="2" stroke-linecap="round"/>
                      <path d="M71 88L40 94" stroke="#21325B" stroke-width="2" stroke-linecap="round"/>
                      <path d="M40 93V56" stroke="#21325B" stroke-width="2" stroke-linecap="round"/>
                      <path d="M40 56L79 53" stroke="#21325B" stroke-width="2" stroke-linecap="round"/>
                      <path d="M40 56L12 51" stroke="#21325B" stroke-width="2" stroke-linecap="round"/>
                      <path d="M11 51L13 79" stroke="#21325B" stroke-width="2" stroke-linecap="round"/>
                      <path d="M13 79L40 94" stroke="#21325B" stroke-width="2" stroke-linecap="round"/>
                      <path d="M40 49V55" stroke="#21325B" stroke-width="2" stroke-linecap="round"/>
                      <path d="M62.7914 63.9954L56.6241 64.3763C55.1938 64.4646 54.1061 65.6939 54.1946 67.1219L54.251 68.0333C54.3395 69.4613 55.5706 70.5474 57.0009 70.4591L63.1682 70.0782C64.5985 69.9899 65.6862 68.7606 65.5977 67.3326L65.5413 66.4212C65.4528 64.9931 64.2217 63.9071 62.7914 63.9954Z" stroke="#21325B" stroke-width="2"/>
                      <path d="M1 9C6.38145 17.2959 21.0907 33.0095 36.8764 29.4959L59 13.6848" stroke="#21325B" stroke-width="2" stroke-linecap="round"/>
                      <path d="M1 9L26 1" stroke="#21325B" stroke-width="2" stroke-linecap="round"/>
                      <path d="M26 1C30.7001 5 43.8799 13 59 13" stroke="#21325B" stroke-width="2" stroke-linecap="round"/>
                      <path d="M15 13C17 12.4444 21.6 10.6667 24 8" stroke="#21325B" stroke-width="2" stroke-linecap="round"/>
                      <path d="M21 19C22.3333 18.6667 25.4 17.4 27 15" stroke="#21325B" stroke-width="2" stroke-linecap="round"/>
                      <path d="M28 23C29.8889 22.65 34.8667 21.04 37 16" stroke="#21325B" stroke-width="2" stroke-linecap="round"/>
                      <path d="M39.4573 101L12 79L39.5243 93.966L71.9417 88.4286L75 88.8776L39.4573 101Z" fill="#21325B" fill-opacity="0.3"/>
                    </svg>
                    <p class="mt-2"><span class="form-label">Arraste e solte os documentos aqui</span></p>
                  </div>
                </div>
              </label>
              {{ form.files }}
            </div>
          </div>
          <button type="submit" class="btn">Fazer cotação</button>
        </form>
      </div>
    </div>
  </div>
  <script>
    const input = document.querySelector('#phone');
    const inputFiles = document.querySelector('#files');
    const labelQtdDocs = document.querySelector('#qtd-docs');
    window.intlTelInput(input, {
        utilsScript: 'https://cdn.jsdelivr.net/npm/intl-tel-input@24.5.0/build/js/utils.js',
        initialCountry: 'auto',
        autoFormat: true,
        strictMode: true,
        geoIpLookup: function(success, failure) {
          fetch('https://ipapi.co/json')
          .then(function(res) { return res.json(); })
          .then(function(data) { success(data.country_code); })
          .catch(function() { failure(); });
        },
      }
    );

    inputFiles.addEventListener('change', (e) => {
      e.preventDefault();
      const qtd = inputFiles.files.length
      qtd > 1 ? labelQtdDocs.innerHTML = ` - ${qtd} inseridos`  : labelQtdDocs.innerHTML = ` - ${qtd} inserido`
    });
  </script>
  <script src="{% static 'budget/js/toastErrorFactory.js' %}" type="module"></script>
  <script src="{% static 'budget/js/main.js' %}" type="module"></script>
{% endblock content_body %}